<!DOCTYPE html>
<html>
	<head>
		<title>Friends and Family</title>
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="css/styles.css" rel="stylesheet" type="text/css">
		<script src="js/jquery-1.1.11.2.js"></script>
    	<script src="js/bootstrap.js"></script>
	</head>

	<body>
		<div id="container">
			<div id="container-banner">


					<div id="col1">
						<ul class="navlist">
							<li><a class="class1" href="recipes.html">:recipes</a></li>
							<li><a class="class1" href="menus.html">:menus</a></li>
						</ul>

					</div>
					<div id="col2">
						<a href="index.html"><img src="img/logo.gif" alt="friends & family"></a>
					</div>
					<div id="col3">
						<ul class="navlist">
							<li><a class="class1" href="fandf.html">:f+f</a></li>
							<li><a class="class1" href="places.html">:places</a></li>
						</ul>
					</div>
			</div>

			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span2">
			      		<!--sidebar content-->
			      		<img src="img/recipes_header.gif" alt="the recipes"><br />
			      			<ul>
							<a href="recipes.html"><li class="menu-title">MEALS</li></a>
							<ul>
								<a href="recipes.html" class="class1"><li class="menu-item">all</li></a>
								<a href="recipes_main.html"><li class="menu-item">mains</li></a>
								<a href="recipes_breakfast.html"><li class="menu-item">brunch</li></a>
								<a href="recipes_healthy.html"><li class="menu-item">healthy</li></a><br /><br />
							</ul>
							<a href="recipes.html"><li class="menu-title">COURSES</li></a>
							<ul>
								<a href="recipes_starter.html"><li class="menu-item">starters</li></a>
								<a href="recipes_drinks"><li class="menu-item">drinks</li></a>
								<a href="recipes_soup.html"><li class="menu-item">soups</li></a>
								<a href="recipes_salad.html"><li class="menu-item">salads</li></a>
								<a href="recipes_meat.html"><li class="menu-item">meats</li></a>
								<a href="recipes_chicken.html"><li class="menu-item">poultry</li></a>
								<a href="recipes_fish.html"><li class="menu-item">fish</li></a>
								<a href="recipes_sandwich.html"><li class="menu-item">sandwiches</li></a>
								<a href="recipes_bread.html"><li class="menu-item">breads</li></a>
								<a href="recipes_sides.html"><li class="menu-item">sides</li></a>
								<a href="recipes_sauce.html"><li class="menu-item">sauces</li></a>
								<a href="recipes_dessert.html"><li class="menu-item">desserts</li></a>
								<br /><br />
							</ul>
							<a href="recipes_html"><li class="menu-title">ETHNICITY</li></a>
							<ul>
								<a href="recipes_french.html"><li class="menu-item">french</li></a>
								<a href="recipes_italian.html"><li class="menu-item">italian</li></a>
								<a href="recipes_mexican.html"><li class="menu-item">mexican</li></a>
								<a href="recipes_asian.html"><li class="menu-item">asian</li></a><br /><br />
							</ul>
							<a href="recipes.html"><li class="menu-title">SEASONS</li></a>
							<ul>
								<a href="recipes_spring.html"><li class="menu-item">spring</li></a>
								<a href="recipes_summer.html"><li class="menu-item">summer</li></a>
								<a href="recipes_autumn.html"><li class="menu-item">autumn</li></a>
								<a href="recipes_winter.html"><li class="menu-item">winter</li></a><br /><br />
							</ul>
						</ul>
			    	</div> <!--span2-->
			    	<div class="span10">
			      		<!--gallery layout-->
			      		<div class="row-fluid">
			      			<h1>Desserts</h1>
			      			<div class="span12">
			      				<div class="row-fluid">
			      					<div class="span3">
			      						<a href="dessert_lemoncurd.html"><img src="img/dessert_lemoncurd_tn.jpg" alt=""></a>
			      						<a href="dessert_lemoncurd.html"><div class="gallery-title">Classic Lemon Curd</div></a>
			      					</div>
			      					<div class="span3">
			      						<a href="dessert_lemoncurd.html"><img src="img/placeholder.gif" alt=""></a>
			      						<a href="dessert_lemoncurd.html"><div class="gallery-title">recipe title here recipe title here recipe title here</div></a>
			      					</div>
			      					<div class="span3">
			      						<a href="dessert_lemoncurd.html"><img src="img/placeholder.gif" alt=""></a>
			      						<a href="dessert_lemoncurd.html"><div class="gallery-title">recipe title here recipe title here recipe title here</div></a>
			      					</div>
			      					<div class="span3">
			      						<a href="dessert_lemoncurd.html"><img src="img/placeholder.gif" alt=""></a>
			      						<a href="dessert_lemoncurd.html"><div class="gallery-title">recipe title here recipe title here recipe title here</div></a>
			      					</div>
			      				</div> <!--row-fluid-->
			      				<div class="row-fluid">
			      			<div class="span12">
			      				<div class="row-fluid">
			      					<div class="span3">
			      						<a href="dessert_lemoncurd.html"><img src="img/placeholder.gif" alt=""></a>
			      						<a href="dessert_lemoncurd.html"><div class="gallery-title">recipe title here recipe title here recipe title here</div></a>
			      					</div>
			      					<div class="span3">
			      						<a href="dessert_lemoncurd.html"><img src="img/placeholder.gif" alt=""></a>
			      						<a href="dessert_lemoncurd.html"><div class="gallery-title">recipe title here recipe title here recipe title here</div></a>
			      					</div>
			      					<div class="span3">
			      						<a href="dessert_lemoncurd.html"><img src="img/placeholder.gif" alt=""></a>
			      						<a href="dessert_lemoncurd.html"><div class="gallery-title">recipe title here recipe title here recipe title here</div></a>
			      					</div>
			      					<div class="span3">
			      						<a href="dessert_lemoncurd.html"><img src="img/placeholder.gif" alt=""></a>
			      						<a href="dessert_lemoncurd.html"><div class="gallery-title">recipe title here recipe title here recipe title here</div></a>
			      					</div>
			      				</div> <!--row-fluid-->
			      			</div> <!--span12-->
			      		</div> <!--row-fluid-->
			    	</div> <!--span10-->
		 		</div> <!--row-fluid-->
			</div> <!--container-fluid-->

			</div>
			<img src="img/footer.gif">
		</div>

	</body>
</html>
